html {
    font-size: 62.5%;
    
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Jost",sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: dodgerblue;
}

header {
    display: flex;
    width: 100%;
    height: 45%;
    justify-content: center;
    align-items: flex-end;
}

header h1 {
    position: relative;
    bottom: 5px;
    padding: 20px;
    font-size: 10.0rem;
    font-weight: 500;
    font-style: italic;
    animation-name: focus-in-contract;
    animation-duration: 3s;
    animation-timing-function: linear;
}

/* ------------------- Animation -----------------------> */
@keyframes focus-in-contract {
    0% {
        letter-spacing: 1rem;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        letter-spacing: 0;
        filter: 0;
        opacity: 1;
    }
}


main {
    width: 100%;
    height: 45%;
    text-align: center;
}

main  section{
    position: relative;
    top: 10px;
}

.main__icons {
    font-size: 3.0rem;
    text-align: center;
}

.main__icons i {
    animation: focus-in-contract 3s linear;
    transition: 0.5s ease;
    cursor: pointer;
}

.main__icons i:hover {
    transform: scale(1.1);
}


footer {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 2.0rem;
}

